<% include ../partials/header %>

<div class="container mt-3 text-dark">
    <div class="row">
        <div class="col-md-1 col-lg-2 col-xl-3"></div>
        <div class="col-md-10 col-lg-8 col-xl-6">
            <form action="/register" method="POST">
                <div class="heading-2 text-center mt-3">JOIN NOW</div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input class="form-control" id="firstname" placeholder="First Name" name="firstname" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input class="form-control" id="lastname" placeholder="Last Name" name="lastname" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" minlength="6" required>
                </div>
                <a href="/login" class="btn btn-outline-dark mr-2 pl-4 pr-4 ">Login</a>
                <button type="submit" class="btn btn-outline-danger pl-4 pr-4">Join Now</button>
            </form>
        </div>
        <div class="col-md-1 col-lg-2 col-xl-3"></div>
    </div>
</div>

<% include ../partials/footer %> 