<% include ./partials/header %>

<head>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<!-- header -->
<div class="jumbotron main pl-md-5 pr-md-5">
    <div class="heading-2">Hello,
        <%= user.name %>!!
    </div>
    <p>Listen from our Collection, Anyhere | Anytime.</p>
    <a class="btn btn-outline-secondary mt-3 pl-4 pr-4" href="/songs/new"> Upload Song</a>
</div>

<!-- Recently played -->
<div class="jumbotron songs-item pl-md-5 pr-md-5">
    <div class="heading-3 pb-4">
        Recently Played
    </div>
</div>

<!-- Favourites -->
<div class="jumbotron songs-item pl-md-5 pr-md-5">
    <div class="heading-3 pb-4">
        Favourites
    </div>
    <div class="row"></div>
</div>

<!-- All Songs -->
<div class="jumbotron songs-item pl-md-5 pr-md-5">
    <div class="heading-3 pb-4">
        Songs
    </div>
    <div class="row" id="songs"></div>
</div>

<!-- player -->
<div class="player">
    <button id="howler-play">Play</button>
    <button id="howler-pause">Pause</button>
    <button id="howler-stop">Stop</button>
    <button id="howler-volup">Vol+</button>
    <button id="howler-voldown">Vol-</button>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.1/howler.min.js"></script>
<script type="text/javascript" src="scripts/home.js"></script>
</body>

</html>