@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif !important;
    color: #fff !important;
}

/* -- navbar -- */
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    transition: all 0.2s;
}

.nav-head {
    padding: 15px;
    padding-left: 25px;
    font-size: 1.3rem;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-items a {
    text-decoration: none;
    padding-right: 25px;
    font-size: 1.1rem;
}

a:hover {
    color: #777 !important;
}

.scrolled {
    background-color: #fff;
    /* transition: all 300ms linear; */
    box-shadow: 0px 1px #ccc;
}

.scrolled:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.scrolled a {
    color: rgba(0,0,0,.5) !important;
}

.scrolled a:hover {
    color: rgba(0,0,0,.8) !important;
}

.scrolled .nav-head {
    color: #ff5252 !important;
}

/* -- landing -- */
.landing {
    width: 100%;
    height: 100%;
    background: url("/assets/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered {
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
}

.desc {
    padding: 10px;
    font-size: 1.3rem;
}

/* -- on scroll section -- */
pre {
    color: #000 !important;
}